<header class="under-header">
  <a class="style registration-style">トップへ</a>
  <a class="border">|</a>
  <a class="style registration-style">登録する</a>
  <a class="border">|</a>
  <a class="style edit-style">編集する</a>
  <a class="border">|</a>
  <a class="style delete-style">削除する</a>
  <a class="border">|</a>
  <a class="style show-style">詳細確認</a>
</header>